* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: rgb(73, 73, 73)
}

.apresentacao {
    display: flex;
    align-items: center;
}

.titulo-destaque {
    color: rgb(108, 157, 114);
}