@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #494949;
    font-family: 'Quicksand', sans-serif;
}

.apresentacao {
    margin: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
}

.titulo-destaque {
    color: #6c9d72;
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
}

.apresentacao__links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.apresentacao__links__link {
    background-color: #bddbc1;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    padding: 21.5px 0;
    text-decoration: none;
    color: #494949;
    font-weight: 600;
    transition: .5s all;
}

.apresentacao__links__link:hover {
    background-color: #a4cca9;
    scale: calc(1.05)
}

.apresentacao__imagem {
    width: 24em;
}